# NODEJS STUFF
node_modules
package-lock.json

# NOTEBOOK CHECKPOINTS
.ipynb_checkpoints

# TEMP DIRECTORIES
*/build
*/dist
*/release

# PYTHON CACHE
*__pycache__

# BLOCKCHAIN DB
# chain

# TEMP SYSLOG
iot-syslog.gz