#innerbody {
    flex: 1;
    border-top: 2px solid #ffffff21;

    > #header {
        color: white;
        font-size: 18px;
        text-transform: uppercase;
        padding: 8px;
        padding-left: 10px;
    }

    #container {
        border-top: 1px solid rgba(0, 0, 0, 0.171);
        border-bottom: 1px solid rgba(255, 255, 255, 0.185);

        #row, #topic, #fallback {
            background: rgba(255, 255, 255, 0.068);
            padding: 8px 10px;
            color: #CECECE;
            transition: 0.2s;
            border: 0px solid black;
            border-top: 1px solid rgba(255, 255, 255, 0.185);
            border-bottom: 1px solid rgba(0, 0, 0, 0.171);
        }

        #row:hover, a:nth-child(even) #row:hover, #row:nth-child(even):hover {
            background: rgba(110, 255, 110, 0.144);
            color: white;
            padding-left: 15px;
            cursor: pointer;
        }

        a:nth-child(even) #row, #row:nth-child(even) {
            background: rgba(124, 213, 255, 0.11);
            border-bottom: 1px solid rgba(0, 0, 0, 0.233);
        }

        #topic:nth-child(even), a:nth-child(even) #row {
            background: rgba(124, 213, 255, 0.11);
            border-bottom: 1px solid rgba(0, 0, 0, 0.233);
        }

        #topic a:hover {
            color: white;
            text-decoration: underline;
        }
    }
}