#whisper {
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.185);
    flex: 1;

    #overflow {
        position: relative;
        overflow: auto;
        height: 100%;
        
        #foobz {
            position: absolute;
            left: 0px;
            top: 0px;
            height: 100%;
            width: 100%;
        }
    }

    #overflow::-webkit-scrollbar { width: 12px; }
    #overflow::-webkit-scrollbar-track { background: rgba(255, 255, 255, 0.226); }
    #overflow::-webkit-scrollbar-thumb { background: rgba(221, 224, 69, 0.616); }

    #message, #headers {
        color: #CECECE;
        display: flex;
        border-top: 1px solid rgba(255, 255, 255, 0.185);
        border-bottom: 1px solid rgba(0, 0, 0, 0.171);
        border-right: 1px solid rgba(0, 0, 0, 0.171);
        transition: 0.2s;

        div {
            padding: 8px 10px;
        }

        #timestamp {
            width: 120px;
            text-align: center;
        }

        #module {
            width: 170px;
            border-left: 1px solid rgba(0, 0, 0, 0.171);
            text-align: center;
        }

        #code {
            width: 70px;
            border-left: 1px solid rgba(0, 0, 0, 0.171);
            text-align: center;
        }

        #msg {
            flex: 1;
            border-left: 1px solid rgba(0, 0, 0, 0.171);
        }

        a:link, a:visited {
            color: white;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    #headers {
        background: rgba(0, 0, 0, 0.158);
        color: white;
        text-transform: uppercase;
        border-bottom: 1px solid rgba(255, 255, 255, 0.185);
        border-top: 0px solid black;

        div {
            border-bottom: 1px solid rgba(0, 0, 0, 0.171);
        }
    }

    #message:nth-child(odd) {
        background: rgba(255, 255, 255, 0.068);
    }
    
    #message:nth-child(even) {
        background: rgba(124, 213, 255, 0.11);
    }
    
    #message:hover {
        background: rgba(110, 255, 110, 0.144);
        color: white;
        cursor: pointer;
    }

    #message:first-child {
        border-top: 0px solid black;
    }

    #message:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.185);

        div {
            border-bottom: 1px solid rgba(0, 0, 0, 0.171);
        }
    }
}